html {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.side-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 325px;
  height: 100vh;
  background-color: #311d40;
  z-index: 1;
}

.profile {
  height: 110px;
  color: white;
}

.personal-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.prof-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 5px 0 0 15px;
}

.name {
  display: flex;
  flex-direction: column;
  height: 60px;
}

.name p {
  font-size: 10px;
  padding-top: 5px;
}

.name * {
  margin: 0;
}

.my-name {
  font-weight: 100;
  padding: 10px 130px 0 0;
  letter-spacing: 1px;
}

.material-symbols-outlined,
.p-logo {
  padding: 15px 10px;
}

#close {
  color: white;
}

#close:hover {
  cursor: pointer;
}

.dashboard {
  display: flex;
  height: 50px;
  border-bottom: 2px solid rgb(95, 80, 107);
}

.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification {
  padding-left: 8px;
}

.notif-icon {
  height: 15px;
  width: 15px;
  background-color: #b2b2ba;
}

.notif-icon::before {
  content: "1";
  position: relative;
  top: -3px;
  left: 3px;
  color: rgb(82, 81, 81);
}

.icon {
  align-self: center;
}

.home {
  padding-left: 10px;
}

.link {
  align-self: center;
  padding-left: 10px;
}

.list-1 {
  height: 260px;
  border-bottom: 2px solid rgb(95, 80, 107);
}

.left-links {
  display: flex;
  color: white;
  height: 52px;
}

.left-links:hover,
.dashboard:hover {
  background-color: #5f4970;
  cursor: pointer;
}

.notif-2::before {
  content: "2";
  position: relative;
  top: -3px;
  left: 3px;
  color: rgb(82, 81, 81);
}

.notif-3::before {
  content: "3";
  position: relative;
  top: -3px;
  left: 3px;
  color: rgb(82, 81, 81);
}

.notif-4::before {
  content: "4";
  position: relative;
  top: -3px;
  left: 3px;
  color: rgb(82, 81, 81);
}

.notif-5::before {
  content: "5";
  position: relative;
  top: -3px;
  left: 3px;
  color: rgb(82, 81, 81);
}

.notif-6::before {
  content: "6";
  position: relative;
  top: -3px;
  left: 3px;
  color: rgb(82, 81, 81);
}

.list-2 {
  height: 260px;
  border-bottom: 2px solid rgb(95, 80, 107);
}

.notif-7::before {
  content: "7";
  position: relative;
  top: -3px;
  left: 3px;
  color: rgb(82, 81, 81);
}

.notif-8::before {
  content: "8";
  position: relative;
  top: -3px;
  left: 3px;
  color: rgb(82, 81, 81);
}

.notif-9::before {
  content: "9";
  position: relative;
  top: -3px;
  left: 3px;
  color: rgb(82, 81, 81);
}

.settings {
  padding-top: 10px;
}

.notif-0::before {
  content: "0";
  position: relative;
  top: -3px;
  left: 3px;
  color: rgb(82, 81, 81);
}

.material-symbols-outlined {
  color: #90839e;
}

.hidden {
  visibility: hidden;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 325px);
  height: 60px;
  position: fixed;
  left: 325px;
  align-items: center;
  border-bottom: 3px solid #dfe5e8;
}

.nav2,
.top-nav {
  z-index: 5;
  overflow: hidden;
}

.left-nav {
  display: flex;
  height: 50px;
  width: 54px;
  border-bottom: 3px solid blue;
  align-items: center;
  margin: 0 20px 0 20px;
}

.tab {
  left: 50px;
  width: max-content;
  font-weight: 500;
  padding-right: 20px;
}

.search-input {
  width: 600px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background: #dfe5e8;
  font-size: 1vw;
}

@media (max-width: 1035px) {
  .search-input {
    font-size: 10px;
  }
}

.right-nav ul {
  display: flex;
  justify-content: space-between;
  width: 150px;
  padding-right: 30px;
  align-items: center;
}

.p-logo {
  height: 24px;
  width: 24px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 17px !important;
}

.material-symbols-outlined:hover {
  cursor: pointer;
}

ul {
  display: flex;
  list-style: none;
}

ul li:hover {
  cursor: pointer;
}

li .badge {
  content: "47";
  position: relative;
  background: red;
  height: 0.7rem;
  top: -2.3rem;
  right: -1.05rem;
  width: 0.75rem;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 0.55rem;
  font-weight: bolder;
  border-radius: 50%;
  color: white;
  border: 1px solid red;
}

.notifications {
  padding-top: 30px;
}

@media (max-width: 1400px) {
  .search-input {
    width: 40vw;
  }
}

@media (min-width: 1400px) {
  .search-input {
    font-size: 13px;
  }
}

.nav2 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: calc(100vw - 325px);
  height: 65px;
  position: fixed;
  top: 50px;
  left: 325px;
  align-items: center;
  border-bottom: 1px solid #dfe5e8;
}

.buttons {
  display: flex;
  align-items: center;
  position: relative;
  width: 30%;
  min-width: 430px;
  height: 50px;
  margin-top: 12px;
}

.all-people,
.add-new {
  height: 40px;
  margin-left: 25px;
}

.all-people {
  width: 200px;
  background-color: white;
  color: black;
  border: 1px solid rgb(222, 222, 222);
}

.add-new {
  width: 130px;
  height: 25px;
  border-radius: 20px;
  background-color: rgb(71, 71, 189);
  color: white;
  font-size: 10px;
  font-weight: 800;
}

.column-settings {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 45px;
}

.col:hover {
  cursor: pointer;
}

.filter {
  display: flex;
  align-items: center;
}

.column-titles {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  height: 50px;
  border-bottom: 1px solid #dfe5e8;
  position: absolute;
  top: 110px;
  left: 275px;
  width: calc(100vw - 325px);
  padding-left: 55px;
}

.column-name {
  font-size: 11px;
  width: 150px;
}

.column {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  min-width: 135px;
  height: 45px;
  font-size: 11px;
}

.column-row {
  width: max-content;
}

.column-name p {
  display: flex;
  max-width: max-content;
}

.all-users {
  position: absolute;
  top: 110px;
  left: 325px;
  width: calc(100vw - 325px);
  max-width: 1750px;
  height: calc(100vh - 100px);
}

.users {
  display: flex;
  justify-content: space-evenly;
  width: calc(100vw - 365px);
  height: 48px;
  gap: 30px;
  border-bottom: 1px solid #dfe5e8;
  align-items: center;
}

.users:hover {
  background-color: #dfe5e8;
  cursor: pointer;
}

.all-columns:hover {
  cursor: default;
  background-color: white;
}

.row1,
.row2,
.row3,
.row4,
.row5,
.row6,
.row7,
.row8 {
  width: 135px;
  font-size: 11px;
}

input {
  text-align: center;
}

.first-name {
  justify-content: center;
  min-width: 270px;
}

.first-name-div {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  gap: 30px;
  height: 100%;
  border-right: 1px solid #dfe5e8;
  min-width: 270px;
}

.first-name::before {
  content: "";
  position: relative;
  top: 0;
  left: -90px;
  width: 15px;
  height: 15px;
  border: 1.5px solid black;
}

.names {
  display: flex;
  height: 100%;
  width: 170px;
  margin: 0;
  align-items: center;
}

.initials {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 13px;
}

.outer-initials {
  left: 65px;
  height: 25px;
  width: 25px;
  background-color: rgb(228, 228, 228);
  border-radius: 50%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: calc(100vw - 325px);
  height: 50px;
  position: fixed;
  top: 160px;
  left: 325px;
  align-items: center;
  border-bottom: 1px solid #dfe5e8;
}

.column-symbols {
  padding: 7px 0 0 0;
}

.bottom-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: rgb(251, 89, 127);
  color: white;
  border: none;
  border-radius: 50%;
}

.help {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  width: 80%;
  height: 60%;
  background-color: white;
  color: rgb(251, 89, 127);
  border-radius: 3px;
}

.question:hover {
  cursor: pointer;
}

.open-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: -400px;
  width: 400px;
  height: calc(100vh - 63px);
  background-color: white;
  z-index: 5;
  box-shadow: -5px -1px 15px -7px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: -5px -1px 15px -7px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: -5px -1px 15px -7px rgba(0, 0, 0, 0.76);
  transition: 0.5s ease-in-out;
}

.show {
  transform: translateX(-400px);
}

.hide {
  transform: translateX(400px);
}

.menu-nav {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  width: 100%;
  min-height: 40px;
}

.left {
  width: 39px;
  height: 100%;
}

.right {
  display: flex;
  width: 120px;
  height: 100%;
}

.left *,
.open-logo {
  padding: 10px;
}

.open-logo:hover {
  background-color: rgb(200, 200, 200);
  color: white;
}

.menu-profile {
  display: flex;
  min-height: 60px;
}

.prof-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(228, 228, 228);
  margin: 10px 10px 0 20px;
}

.prof-names {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 300px;
}

.prof-name {
  display: flex;
  padding-left: 5px;
  align-items: center;
  height: 60%;
  font-size: 15px;
  color: black;
}

.company-name {
  padding-left: 5px;
  height: 40%;
  font-size: 12px;
  color: black;
}

.menu-body {
  display: flex;
  flex-direction: column;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 12px;
  padding: 15px 0 0 0;
}

.menu-items:hover {
  cursor: pointer;
}

.details,
.activity,
.related {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 33%;
  height: 30px;
}

.details {
  border-bottom: 4px solid blue;
}

.prof-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.profile-title {
  height: 56px;
}

.profile-title span {
  padding: 0;
}

.profile-title * {
  font-size: 12px;
  padding: 5px;
}

.input {
  margin: 10px 5px 10px 5px;
  font-size: 11px;
  color: blue;
}

.check {
  background-color: blue;
  color: white;
}

.field {
  height: 8px;
  margin: 4px;
}

.must {
  padding: 0;
}

.bottom-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.logo {
  font-family: "Abril Fatface", cursive;
  color: white;
  align-self: baseline;
  font-size: 25px;
  padding: 0 0 0 20px;
  margin: 0;
}

.dots {
  color: white;
  padding-right: 30px;
}

@media (max-width: 730px) {
  .open-menu {
    display: none;
  }
}
